@charset "utf-8";
*{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

body{
	width: 80%;
	margin: 0px auto;
}

#comment{
	border: none;
	border-bottom: 1px solid;
	outline: none;
}
