*{
    font-family: 'Segoe UI';
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: dodgerblue;
}

body{
    background: lightgray;
}

header{
    background: rgb(48, 28, 231);
    padding: 10px;
    color: white;
    text-align: center;
}

#container_main{
    width: 65%;
    margin: 10px auto;
    display: flex;
}

.container{
    box-shadow: 0px 1px 4px 0px gray;
    padding: 20px;
    margin: 10px auto;
    background: white;
    border-left: 3px solid white;
}

.container:focus-within{
    border-left: 3px solid blue;
}

.convert{
    margin: 20px 0px;
}

input{
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    margin: 10px 5px;
    outline: none;
}

#cacl{
    text-align: center;
    width: 100%;
}

#cacl tr td{
    width: 25%;
}

#cacl tr td button{
    padding: 8px;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.operations{
    background: linear-gradient(180deg, rgb(198, 111, 224), blueviolet);
    color: white;
}

.operations:active{
    background: linear-gradient(0deg, rgb(198, 111, 224), blueviolet);
    color: white;
}

.operand{
    background: linear-gradient(180deg, gray, rgb(90, 89, 89));
}

.operand:active{
    background: linear-gradient(0deg, gray, rgb(90, 89, 89));
}

#calcscreen{
    width: 90%;
    padding: 5px 10px;
    font-size: 30px;
    background: none;
    text-align: right;
}

#bksp{
    background: linear-gradient(180deg, orange, orangered);
}

#bksp:active{
    background: linear-gradient(0deg, orange, orangered);
}

#AC{
    background: linear-gradient(180deg, red, darkred);
}

#AC:active{
    background: linear-gradient(0deg, red, darkred);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: white;
    text-align: center;
}

@media (min-width:320px) and (max-width:480px){
    header{
        width: 100%;
    }

    #container_main{
        display: block;
        width: 90%;
        margin: 0px auto;
    }
    
    #calcscreen{
        font-size: 20px;
    }

    footer{
        position: relative;
    }
}